main {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.post {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.post > p {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.photo__dados {
  padding-top: 10px;
}

.button-icon > button {
  display: flex;
  width: 70px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--background-black);
  color: var(--font-white);
  border-radius: 4px;
}

.button-icon > button:hover {
  border: 2px solid #4263eb;
}

.fa-heart {
  color: rgba(33, 37, 41, 0.5);
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.button-icon > p {
  margin-left: 5px;
}

.button-icon {
  display: flex;
  align-items: center;
}

.active {
  color: #d7443e;
}
