dialog {
  border: 2px solid transparent;
  border-radius: 6px;
  padding: 10 10px;
}

dialog > .post > .photo__dados {
  display: flex;
  justify-content: space-between;
}

dialog > .post > .photo__dados > .align__img-h3-p {
  display: flex;
  align-items: center;
  gap: 10px;
}

dialog > .post > .photo__dados > button {
  padding: 7px 10px;
  margin-bottom: 20px;
  font-size: 15px;
  border: 1px solid transparent;
  background-color: rgb(252, 102, 102);
  border: 1px solid black;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(1px);
}

dialog > .post {
  width: 450px;
  margin: 0 auto;
}

dialog > .post > p {
  display: block;
}
